*{
  font-family: 'sans-serif','poppins';
}

.dashboard-body {
    /* background-color: rgb(6, 25, 65); */
    background-color: #042331;
    min-height: 100vh;
    height: 100%;
    border-right: 2px solid rgb(246, 195, 195);
    /* font-size: large;
    cursor: pointer;
    position: relative;
    left: -150px;
    transition: all 0.5s ease; */
  }
  .dashboard-menu {
    text-align: start;
    color:#fff;
    list-style: none;
    margin-top: 10px;
    padding-left: 60px;
    border-top: 1px solid rgba(255,255,255,0.1);
    transition: 0.4s;
    /* #8bc34a */
  }


  .dashboard-menu:hover{
    color: rgb(214, 44, 214);
    margin-left: 10px;
  }
  .icon-color{
    color: #fff;
  }

  .dash-card{
    background-color: rgb(211, 189, 189);
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* box-shadow: 5px 5px 5px 10px rgb(251, 145, 145); */
    margin: 10px 30px;
  }
  /* #check{
    display: none;
  }
  label #bars, label #close{
    position: absolute;
    cursor: pointer;
    background: rgb(41, 10, 218);
    border-radius: 3px;
  }
  label #bars{
    left: 295px;
    top:50px;
    font-size:30px;
    color:red;
    padding: 6px 12px;
    transition: all .5s;
  }
  label #close{
    z-index: 30px;
    left: -600px;
    top:55px ;
    font-size: 30px;
    color: chartreuse;
    padding: 4px 9px;
    transition: all 0.5 ease;
  }

  #check:checked ~ .dashboard-body{
    left:0;
  }

  #check:checked ~ label #bars{
    left: 295px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #close{
    left: 600px;
  } */

/* .dash-card-child-1{
  width: 50%;
  padding: 10px;
  background-color: #4A235A ;
  color: #fff;
  margin-right: 5px;
}
.dash-card-child-2{
  width: 50%;
  padding: 10px;
  background-color: #DE3163  ;
  color: #fff;
  margin-right: 5px;
}
.dash-card-child-3{
  width: 50%;
  padding: 10px;
  background-color: #3E30AD  ;
  color: #fff;
  margin-right: 5px;
}
.dash-card-child-4{
  width: 50%;
  padding: 10px;
  background-color: #1792C0;
  color: #fff;
  margin-right: 5px;
} */

@media only screen and (max-width: 600px) {
  .dash-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


