* {
    font-family: 'Poppins', sans-serif;
}

.banner-body {
    display: flex;
    align-items: center;
    box-shadow: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), #00000000), url('https://www.teahub.io/photos/full/32-329104_wallpaper-motor-motor-racing.jpg');
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 70px);
    padding-bottom: 60px;
}

.h3-text {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: gold;
    text-align: left;
    text-transform: uppercase;
}

.h3-text span {
    color: #fe5a1d;
    text-transform: uppercase;
}

.span-color {
    color: tomato;
}

.text-content {
    width: 45%;
    padding-left: 100px;
    font-weight: 600;
    text-align: start;
}

.text-content .btn-warning {
    background-color: #fe5a1d;
    color: #fff;
}

.text-content p {
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    line-height: 200%;
    letter-spacing: 2px;
}

.image-body {
    width: 100%;
}

@media (min-width:320px) and (max-width:768px) {
    .banner-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-content {
        width: 100%;
        padding: 25px;
    }
}