.review-cart{
    text-align: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px 5px rgb(126, 140, 156);
    border-radius: 5px;
    padding: 10px;
    height: 80%;
}

.star-color{
    color: rgb(250, 185, 19);
    font-size: 18px;
}

.review-text{
    font-family: 'sans-serif','poppins';
    background-color: #ffff;
    font-style: italic;
}

